/* Bloques */
.nestor {
    width: 100%;
    padding: 1rem;
    margin: 1%;
    border: solid 2px yellow;
}
/* Elementos */
.nestor_titulo {
    color: red;
    text-align: center;
}
.nestor_parrafo {
    font-style: italic;
}
.nestor_boton {
    text-decoration: none;
    color: purple;
}
/* Modificadores */
.nestor__oscuro {
    background: #222222;
    color: #EEEEEE;
}
.nestor_boton__rosado {
    background: pink;
    color: green;
}

/* Custom naming convention */

/*

1) Usamos guiones medios para separar palabras en los nombres de las clases

2) Usamos guiones bajos para separar los módulos de la metodología

*/

/*

block
block__modifier
block_element
block_element__modifier

block-very-long
block-very-long_element
block-very-long_element__modifier

block-very-long_element-so-long
block-very-long_element-so-long__modifier

block-very-long_element-so-long__modifier-ultra-long

*/