/* Soy un selector */
h1 {
    font-style: italic;
}
/* Soy un identificador */
#subtitulo {
    color: yellow;
}
/* Soy una clase */
.parrafo {
    font-weight: bold;
}
/* Soy un pseudo-clase */
.boton-feo:hover {
    background: turquoise;
}
/* Soy un pseudo-elemento */
.parrafo-bonito::first-letter {
    font-size: 10rem;
}