/* Base */
main,
section {
    margin: 0;
    padding: 0;
}
button {
    background: green;
    color: white;
    border: none;
}
/* Layout */
#principal {
    width: 70%;
    border: solid 2px blue;
}
#articulo {
    width: 50%;
    border: solid 6px purple;
}
/* Módulos */
.seccion {
    padding: 1rem;
}
.seccion p {
    font-style: italic;
}
.seccion .boton-magico {
    background: pink;
}
/* Estados */
.seccion .boton-magico.es-error {
    background: red;
}
/* Themes */
.dark-theme {
    background: #222222;
    color: #EEEEEE;
}
.dark-theme .seccion {
    border: dotted 5px yellow;
}