.C\(primario\) {
    color: red;
}
.C\(secundario\) {
    color: yellow;
}
.Bgc\(primario\) {
    background-color: #222222;    
}
.Bgc\(secundario\) {
    background-color: #EEEEEE;
}
.Fs\(italic\) {
    font-style: italic;
}
.Fz\(1rem\) {
    font-size: 1rem;
}