/* Objetos (también llamados "módulos") */
.contenido-principal {
    width: 100%;
}
.seccion {
    width: 70%;
    height: 350px;
}
.articulo {
    width: 50%;
    height: 200px;
}
.parrafo {
    width: 30%;
    height: 500px;
}
/* Skins (pieles) */
.skin-normal {
    border: solid 1px yellow;
    color: red;
}
.skin-diegote {
    background: black;
    color: #EEEEEE /* El color del Diegote */
}
.skin-titulo {
    color: green;
    text-align: right;
}
.skin-titulo-articulo {
    color: turquoise;
    text-decoration: underline;
}
.skin-parrafo {
    font-style: italic;
    font-size: 2rem;
}